# Arduino build output
build/
*.hex
*.elf
*.o
*.d

# Fusion 360
*.f3d.bak
*.f3z.bak

# Editors
.vscode/
.pio/

# Office temp files
~$*.docx
~$*.pptx
~$*.xlsx

# OS cruft
.DS_Store
._*
Thumbs.db
ehthumbs.db
desktop.ini
